* {
  box-sizing: border-box;
}

a {
  color: #0082BA;
}

@media all and (min-width: 900px) {
article, aside {
  float: left;
}

article {
  width: 75%;
  padding-right: 20px;
  padding-bottom: 15px;
}

aside {
  width: 25%;
  }
aside h2:first-child {
  margin-top: 5px;
  }
}

blockquote {
  border-left: 4px solid #003594;
  padding: 12px;
  background-color: #DDE5ED;
  margin-left: 0;
  line-height: 1.5em;
  font-family: "Corbel", sans-serif;
  font-size: 14px;
}

body {
  background-color: #abbfd3;
  font-family: "Lato", sans-serif;
}

.caption {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

#copyright {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

footer.wrapper {
  text-align: center;
  padding: 30px 20px;
  border-top: 2px solid #DDE5ED;
  font-size: 10px;
}

h1 {
  margin-bottom: .5em;
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}

h2{
  margin-bottom: .25em;
  margin-top: .25em;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

h1,h2 {
  color: #003594;
}

header {
  background-image: url(../images/wavy-dots.png);
  border-bottom: 2px solid #DDE5ED;
  text-align: center;
}

img {
  width: 90%;
  max-width: 700px;
  height: auto;
}

.image {
  text-align: center;
  margin: 1.25em 1em;
}

p {
  font-family: "Corbel", sans-serif;
  color: #002554;
  line-height: 1.3em;
  font-size: 15px;
  margin-left: 0;
}

ol {
  color: #0082BA;
  padding-left: 20px;
  margin-top: 8px;
  font-size: 15px;
  font-family: "Corbel", sans-serif;
}

ul {
  color: #0082BA;
  padding-left: 20px;
  margin-top: 8px;
  font-family: "Corbel", sans-serif;
  font-size: 15px;
  line-height: 1.3em;
}

.wrapper {
  background-color: #f6f6f6;
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
