body {
  background-color: #F9E9EC;
  font-family: arial, sans-serif;
}

h1,h2 {
  color: #1D2F6F;
}
a {
  color: #FAC748;
}

p {
  color: #FAC748;
}

ul {
  color: #8390FA;
}

ol {
  color: #8390FA;
}
